@font-face {
    font-family: exo2-bold;
    src: url(../fonts/Exo2-Bold.otf);
}

@font-face {
	font-family: cuprum-regular;
	src: url(../fonts/cuprum_regular.ttf);
}

@font-face {
	font-family: PTMono-bold;
	src: url(../fonts/PT-Mono.ttf);
}

/* Header */

.header {
    position: relative;
    width: 100%;
	margin: 0 auto 40px;
	padding: 10px 0 10px;
	box-sizing: border-box;
}

.header-title {
    position: absolute;
	font-family: exo2-bold;
	font-size: 24px;
	color: #FFF;
	margin: 0px 0px 0px 20px;
}

.header-date {
    position: absolute;
    left: 0; right: 0;
    text-align: center;
    font-family: exo2-bold;
	font-size: 24px;
    color: #FFF;
}

.header-date:hover {
    cursor: pointer;
}

/* Island */

.main {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
}

/* Sun circle slider */

.circle-slider {
    position: absolute;
    top: 0; left: 0;
    height: 40%;
    width: 40%;
    overflow: visible;
    background: url(../img/sun-slider-scale.png) no-repeat;
    background-size: 100% 100%;
}

.temperature-label {
    position: absolute;
    display: inline-flex;
    top: -1%; left: 37%;
	font-family: cuprum-regular;
	font-size: 4vmin;
	color: #FFF;
	margin: 0px 0px 0px 12%;
}

.temperature-label p {
	margin: 0;
}

/* Bottom clouds */

.clouds-back {
    position: absolute; 
    bottom: 0; left: 100px; right: 0; height: 20%;
    background: url(../img/bottom-clouds-back.png) no-repeat;
    background-size: 100% 100%;
}

.clouds-front {
    position: absolute; 
    bottom: 0; left: 100px; right: 0; height: 25%;
    background: url(../img/bottom-clouds-front.png) no-repeat;
    background-size: 100% 100%;
}

/* Island area */

.island-container-wrapper {
    width: 50%;
    position: relative;
}

.island-container-wrapper:before {
    content: "";
	display: block;
	padding-top: 100%;
}

.island-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
}

/* Island ground */

.island-wrapper {
    width: 57%;
    position: absolute;
    left: 10%;
    bottom: 0px;
}

.island-wrapper:before {
    content: "";
	display: block;
	padding-top: 110%;
}

.island {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
    background: url(../img/island.png) no-repeat;
	background-size: contain;
}

/* Wind indicator */

.flag-wrapper {
    width: 10%;
    position: absolute;
    left: 52%;
    bottom: 55%;
}

.flag-wrapper:before {
    content: "";
    display: block;
    padding-top: 115%;
}

.flag {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
    background: url(../img/wind-indicator.png) no-repeat;
	background-size: contain;
}

/* Clouds */

/* Big cloud area */

.cloud-big-wrapper {
    width: 28%;
    position: absolute;
    right: 25%;
    top: 19%;
    display: none;
}

.cloud-big-wrapper:before {
    content: "";
    display: block;
    padding-top: 82%;
}

.cloud-big {
    position: absolute;
    left: 0; bottom: 40%; top: 0; right: 0;
    background: url(../img/cloud-big.png) no-repeat;
	background-size: contain;
}

.rain-big {
    position: absolute;
    left: 0; bottom: 0; top: 45%; right: 0;
    background: url(../img/rain-big.png) center no-repeat;
	background-size: contain;
    display: none;
}

/* Medium cloud area */

.cloud-medium-wrapper {
    width: 17%;
    position: absolute;
    left: 28%;
    top: 12%;
    display: none;
}

.cloud-medium-wrapper:before {
    content: "";
    display: block;
    padding-top: 130%;
}

.cloud-medium {
    position: absolute;
    left: 0; bottom: 60%; top: 0; right: 0;
    background: url(../img/cloud-medium.png) no-repeat;
	background-size: contain;
}

.rain-medium {
    position: absolute;
    left: 0; bottom: 0; top: 40%; right: 0;
    background: url(../img/rain-medium.png) center no-repeat;
	background-size: contain;
    display: none;
}

/* Small cloud area */

.cloud-small-wrapper {
    width: 15%;
    position: absolute;
    left: 16%;
    top: 26%;
    display: none;
}

.cloud-small-wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.cloud-small {
    position: absolute;
    left: 0; bottom: 50%; top: 0; right: 0;
    background: url(../img/cloud-small.png) no-repeat;
	background-size: contain;
}

.rain-small {
    position: absolute;
    left: 0; bottom: 0; top: 50%; right: 0;
    background: url(../img/rain-small.png) no-repeat;
	background-size: contain;
    display: none;
}

/* Compass */

.compass-wrapper {
    width: 30%;
    position: absolute;
    right: -5%;
    top: 35%;
}

.compass-wrapper:before {
    content: "";
    display: block;
    padding-top: 125%;
}

/* Direction label */

.compass-direction-container {
    position: absolute;
    left: 0; bottom: 83%; top: 0; right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.compass-direction-indicator {
    display: block;
    width: 10%;
    height: 30%;
    background: url(../img/wind-direction-pointer.png) no-repeat;
	background-size: contain; 
}

.compass-direction {
    margin: 0;
    font-size: 1.5vw;
    font-family: PTMono-bold;
    color: #FFF;
}

/* Wind direction modificator */

.compass-container {
    position: absolute;
    left: 0; bottom: 0; top: 20%; right: 0;
}

.compass {
    position: absolute;
    left: 0; bottom: 0; top: 0; right: 0;
    overflow: visible;
    transform-origin: center center;
    background: url(../img/compass-scale.png) no-repeat;
	background-size: contain; 
}

.compass-drag-handler {
    position: absolute;
    left: 0; bottom: 0; top: 0; right: 0;
    overflow: visible;
}

/* Wind force slider */

.wind-slider-container {
    position: absolute;
    overflow: visible;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: 25%;
    background: url(../img/windforce-path.png) no-repeat;
    background-size: contain; 
}

.windForce {
    position: absolute;
    left: 20%;
    bottom: 20%;
    top: 20%;
    right: 20%;
    overflow: visible;
    transform-origin: center center;
    background: url(../img/compas-scale.png) no-repeat;
	background-size: contain; 
}

.windForce-drag-handler {
    position: absolute;
    left: 20%;
    bottom: 20%;
    top: 20%;
    right: 20%;
    overflow: visible;
}

/* Wind force label */

.windforce-label {
    position: absolute;
    top: 0px; left: 0px; bottom: 0px; right: 0px;
    margin: 40% 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.windforce-label p {
	margin: 0;
    font-family: cuprum-regular;
	font-size: 1.8vw;
	color: #FFF;
}

/* Tools panel */

.tools-container {
    position: absolute;
    top: 0; right: 6%;
    width: 7%;
    height: 25%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
}

.tool-button {
    display: flex;
    height: 28%;
    background-color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.tool-button:active {
    box-shadow: none;
}

.tool-button span {
    flex-grow: 1;
    margin: 20% 10%;
}

.tool-cloud {
    background: url(../img/cloud-tool.png) center center no-repeat;
    background-size: contain;
}

.tool-rain {
    background: url(../img/rain-tool.png) center center no-repeat;
    background-size: contain;
}

.tool-rainbow {
    background: url(../img/rainbow-tool.png) center center no-repeat;
    background-size: contain;
}

/* Save button */

.save-button {
    position: absolute;
    bottom: 25%; right: -15%;
    width: 20%; height: 7%;
	background-color: #11B511;
    border: none;
    border-radius: 12px;
    font-family: cuprum-regular;
    font-size: 1.2vw;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.save-button:active {
    box-shadow: none;
}