@font-face {
    font-family: exo2-bold;
    src: url(../fonts/Exo2-Bold.otf);
}

@font-face {
	font-family: cuprum-regular;
	src: url(../fonts/cuprum_regular.ttf);
}

html {
	background: #ccc;
	min-height: 100%;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex: auto;
    align-items: stretch;
    align-content: stretch;
	background-image: linear-gradient(to top, #FFFFFF, #00CEFF);
}

/* Main content */

.navigation {
    background-color: #004781;
    overflow: auto;
    flex: 0 0 100px;
}

.content-section {
    display: flex;
	flex-flow: column;
    flex: auto;
}

.header {
    width: 100%;
	margin: 0 auto 30px;
	padding: 10px 0 10px;
	box-sizing: border-box;
}

.header-title {
	font-family: exo2-bold;
	font-size: 24px;
	color: #FFF;
	margin: 0px 0px 0px 20px;
}

/* Navigation */

.navigation-bar {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navigation li {
    display: block;
    height: 100px;
}

.nav-item {
    display: block;
    text-decoration: none;
    padding: 8px;
    background: #004781;
    transition: all 0.3s ease;
    text-align: center;
}

.nav-item:hover {
    background: #FFF;
}

/* Common navigation item */

/* Title label */

.nav-item p {
    color: #FFF;
    font-family: cuprum-regular;
    font-size: 10pt;
    margin: 8px 0px;
}

.nav-item:hover p {
    color: #004781;
}

/* Item picture */

.nav-item span {
    display: inline-block;
    width: 35px;
    height: 38px;
    margin: auto;
}

/* Menu icon */

.nav-item-main {
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#menu-nav-item {
    display: block;
    width: 30px;
    height: 20px;
    background: url(../img/menu-icon.png) no-repeat;
    background-size: contain;
}

/* Island item */

#island-nav-item {
    background: url(../img/island-icon.png) no-repeat;
    background-size: contain;
}

.nav-item:hover #island-nav-item {
    background: url(../img/island-icon-selected.png) no-repeat;
    background-size: contain;
}

/* Statistis item */

#statistics-nav-item {
    background: url(../img/island-icon.png) no-repeat;
    background-size: contain;
}

.nav-item:hover #statistics-nav-item {
    background: url(../img/island-icon-selected.png) no-repeat;
    background-size: contain;
}

/* Profile item */

#profile-nav-item {
    background: url(../img/island-icon.png) no-repeat;
    background-size: contain;
}

.nav-item:hover #profile-nav-item {
    background: url(../img/island-icon-selected.png) no-repeat;
    background-size: contain;
}