@font-face {
	font-family: cuprum-regular;
	src: url(../fonts/cuprum_regular.ttf);
}

@font-face {
	font-family: cuprum-bold;
	src: url(../fonts/Cuprum-Bold.ttf);
}

button:focus, input:focus, select:focus {
	outline: 0;
}

.chart-section {
    position: absolute;
    top: 10%; left: 5%; right: 5%; bottom: 5%;
    display: flex;
    flex-flow: column nowrap;
}

/* Header */

.header {
    position: relative;
    width: 100%;
	margin: 0 auto 40px;
	padding: 20px 0 10px;
	box-sizing: border-box;
}

.header-title {
    position: absolute;
	font-family: exo2-bold;
	font-size: 24px;
	color: #FFF;
	margin: 0px 0px 0px 30px;
}

/* Cards */

.card {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    background-color: #FFF;
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.chart-container {
    position: relative;
    height: 40vh;
    padding: 25px;
}

.chart-settings-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 30%;
    align-items: stretch;
    justify-content: space-between;
    min-height: 200px;
    min-width: 1000px;
}

.chart-type-container {
    flex-grow: 1;
}

.settings-container {
    flex-grow: 3;
}

/* Common settings */

.card-title {
    font-family: cuprum-bold;
    color: #000;
    padding-left: 20px;
    flex-grow: 1;
    border-bottom: thin solid #95989A;
}

/* Type container */

.types-container {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 5;
    padding-left: 20px;
}

.type-item {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

label {
    font-family: cuprum-regular;
    color: #6F6F6F;
}

/* Custom radio button */

input[type="radio"] {
    display:none;
}

.radio-label:before {
    display: inline-block;
    content: "";
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url("../img/radio-usual.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

input[type=radio]:checked + .radio-label:before {
    background: url("../img/radio-selected.png") no-repeat;
    background-size: contain;
}

/* Settings container */

.params-area {
    flex-grow: 5;
    display: flex;
    flex-flow: row wrap;
    padding-left: 20px;
}

.params-area-block {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10px 0 10px;
}

.confirm-block {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.params-block-title {
    font-family: cuprum-regular;
    color: #000;
    margin: 0 0 10px 0;
}

/* Custom selector */

.condition-selector {
    flex-grow: 1;
    margin-left: 10px;
    border: 1px solid #6F6F6F;
    background: url("../img/selector-arrow.png") no-repeat right;
    background-size: contain;
    height: 25px;
    -webkit-appearance: none;
    font-size: 11pt;
    font-family: cuprum-regular;
    color: #000;
    padding-left: 5px;
}

.date-selector {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 11pt;
    font-family: cuprum-regular;
    color: #000;
    padding-left: 5px;
    border: 1px solid #6F6F6F;
    border-radius: 4px;
    height: 25px;
}

/* Draw button */

.draw-button {
    flex-grow: 1;
    height: 25%;
    min-height: 40px;
    margin: 20px;
	background-color: #11B511;
    border: none;
    border-radius: 12px;
    font-family: cuprum-regular;
    font-size: 1.2vw;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.draw-button:active {
    box-shadow: none;
}
