.chart-section {
    position: absolute;
    top: 10%; left: 5%; right: 5%; bottom: 5%;
    display: flex;
    flex-flow: column nowrap;
}

/* Header */

.header {
    position: relative;
    width: 100%;
	margin: 0 auto 40px;
	padding: 20px 0 10px;
	box-sizing: border-box;
}

.header-title {
    position: absolute;
	font-family: exo2-bold;
	font-size: 24px;
	color: #FFF;
	margin: 0px 0px 0px 30px;
}

/* Charts settings */

.card {
    flex-grow: 1;
    background-color: #FFF;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.chart-container {
    position: relative;
    height: 40vh;
    padding: 25px;
}

.chart-settings-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 30%;
    align-items: stretch;
    justify-content: space-between;
}

.chart-type-container {
    flex-grow: 1;
}

.settings-container {
    flex-grow: 3;
}